:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.tab-area {
  display: flex;
  height: 63px;
  background-color: #2f3235;
  box-sizing: border-box;
  padding: 0 118px;
  width: 100%;
  border-bottom: 1px dashed #6c6c6c;
}

.tab {
  flex: 1;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  position: relative;
  position: relative;
}

.tab.pointer{
  cursor: pointer;
}

.tab::after {
  content: attr(index);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: -13px;
  transition: all .3s ease;
  background-color: rgb(104, 194, 174);
  z-index: 999;
}

.tab.active~.tab::after{
  background-color: rgb(108, 108, 108);
}

.progress {
  height: 2px;
  background: #68c2ae;
  position: relative;
  top: -1px;
  transition: all .3s ease;
}
